# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.pyo
*.pyd
*.env
.env
venv/
ENV/
.envrc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Input/Output folders
input/
output/